@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  background-color: brown;
}

nav {
  font-family: 'Anton', sans-serif;
  color: orange;
  text-align: center;
  display: block;
}

.description {
  font-family: Aerial, sans-serif;
  color: blue;
  text-align: center;
  display: block;
}

.image-filter{
  margin: auto;
  width: 350px;
}

ol {
  text-align: center;
  list-style: none;
  color: yellow;
}

#input-age-verification label {
  font-size: 0.825em;
  display: inline;
}

#input-age-verification input {
  box-sizing: content-box;
  width: auto;
}

input,
label {
    margin: .4rem 0;
}
