@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
head {
  text-align: center;
    display: block;
    font-family: 'Anton', sans-serif;
      background-color: purple;
      color: white;
}

input,
label {
    margin: .4rem 0;
}
