@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
  background-color: brown;
}

nav {
  font-family: 'Anton', sans-serif;
  color: orange;
  text-align: center;
  display: block;
}

h1 {
  font-size: 25px;
}

.description {
  font-family: Aerial, sans-serif;
  color: aquamarine;
  text-align: center;
  display: block;
}

.image-filter{
  margin: auto;
  width: 100px;
}

ol {
  text-align: center;
  list-style: none;
  color: yellow;
  margin: .4rem 0;
  width: 90%;
  height: 90%;
  margin: auto;
  box-sizing: content-box;
}

#input-age-verification label {
  font-size: 0.825em;
  display: inline;
}

#input-age-verification input {
  box-sizing: content-box;
  width: auto;
}

input,
label {
    margin: .4rem 0;
    width: 90%;
}

@media (min-width: 30em) {
  #input-submit {
    box-sizing: content-box;
    width: 25em;
    margin: auto;
  }

  #input-email {
    box-sizing: content-box;
    width: 25em;
    margin: auto;
  }

  #input-age-verification {
    padding: 15px;
  }
  form {
    width: 50em;
  }
}

form {
  background-color: Navy;
  height: 10em;
  width: 27em;
  margin: auto;
  padding: 3em;
}
